#container{
    margin: auto;
    text-align: center;
    width: 70vw;
}
.title_box{
    padding: 5px;
    text-align: center;
    color: rgb(114, 184, 77);
    background-color: rgb(223, 223, 255);
}
.add_task{
    height: 12vh;
    /* background-color: beige; */
    padding: 10px;
}
.list_todo{
    background-color: rgb(225, 225, 222);
}
.form-control{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.input-group-text{
    margin-left: 1vw;
    margin-right: 1vw;
}
.list_todo{
    padding: 10px;
    background-image:url(../images/achieve.jpg);
    background-position:center;
    background-repeat:repeat-y;
    opacity: 0.7;
}
.inProgress{
    padding: 10px;
    background-color:rgb(223, 223, 255);
}
#basic-addon2{
    background-color: rgb(240, 101, 101);
    color: rgb(248, 248, 248);
}
#basic-addon21{
    color: black;
    background-color: rgb(249, 249, 160);
}